muleflowrepo/src/main/mule/muleflowrepo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3f861ddd-ac99-41ac-874f-a9bb535e11fb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleflowrepoFlow" doc:id="c59862e1-85cb-4d70-9dbe-b0563120f0b8" >
		<http:listener doc:name="Listener" doc:id="7c087d33-ff69-4bc2-96eb-91d29bf1d926" config-ref="HTTP_Listener_config" path="/muleflow"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ad4bf2f3-ac2f-4993-8b13-abf4e3c470a8" />
	</flow>
</mule>
